<!-- About Section -->
<section id="game" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <!-- <h2>About the game</h2> -->
            <p>Help the <span class="yellow animated">twelve stars</span> of the European flag fight against the <span class="red">evil Monster Disunion</span>! Discover a common European
                history with the help of friendly ghosts of the past! And get out of the obscure labyrinths once you have
                found enlightening texts of antifascists federalist of Ventotene! So, what are you waiting for? Ready to
                play?
            </p>
        </div>
    </div>
</section>